body {
    font-family: 'Roboto', 'san serif';
    font-style: normal;
    width: 1366px;
    height: 768px;
    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.container {
    width: 1030px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    margin-bottom: 17px;
    /* height: 61px; */
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo-imgs {
    position: relative;
}

.logo-image-change {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* logo-title */

.logo-title {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 2px;
}

.header-logo-title {
    font-weight: 700;
    font-size: 29px;
    line-height: 1;
    color: #FFFFFF;
    width: 140px;
    height: 30px;
    text-decoration: none;
}

.header-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    width: 135px;
    height: 21px;
    text-decoration: none;
}

.logo:hover a {
    color: #f26522;
}

.logo:hover .logo-image-change {
    opacity: 1;
}



/* contacts header */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contacts-mail,
.contacts-tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 500ms linear;
}

.contacts-mail +.contacts-tel {
    margin-top: 19px;
}

.contacts-mail:hover,
.contacts-tel:hover {
color: #F26522;
}


/* MAIN */

.list-cards {
    height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 37px;
}

.card {
    width: 300px;
    height: 220px;
    display: flex;
    position: relative;
    background: linear-gradient(to right, rgb(81, 72, 72), white);
}

.card-link {
    text-decoration: none;
}

.overlay {
    position: absolute;
    height: 55px;
    background-color: #f26522;
    width: 100%;
    bottom: 0;
    left: 1px;
    opacity: 0;
    transition: 1000ms linear;
}


.card:hover .overlay {
    opacity: 1;
}


.overlay-text {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    align-items: center;
}

.overlay-from {
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.overlay-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;
}

.overlay-details {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
}

.overlay-details::after {
    content: ">";
    padding-left: 16px;
    padding-right: 14px;
}

.card-tour {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.card:hover .card-tour {
    color: #f26522;
    transition: 1000ms linear;
}

/* footer */

.footer {
    margin-top: 49px;
    margin-bottom: 15px;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;

}